<!-- # FILE: /templates/partials/_nav.html -->

{% load brfilters %} <!-- # -->

<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <a class="navbar-brand" href="{% url 'product:list' %}">E-commerce Project</a> <!-- #1: #2: -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            
            <!-- # MENU Account and Enter -->
             {% if request.user.is_authenticated %} <!-- #5: ## -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'client_profile:create' %}"> Update</a> <!-- ## -->
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'client_profile:create' %}"> Enter Login</a> <!-- #6: -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'client_profile:create' %}"> Create Account</a> <!-- #6: -->
                </li>
            {% endif %}

            {% if request.session.cart %} <!-- #3: -->
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-cart-link active" href="{% url 'product:cart' %}"> <!-- # -->
                        <span class="nav-cart-text mr-1">
                            Cart
                        </span>
                        <span class="nav-cart-count mr-1">
                            <strong>{{request.session.cart|cart_total}}x</strong> <!-- #4: -->
                        </span>
                        <span class="nav-cart-icon mr-2">
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </a>
                </li>
            {% endif %}

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>


<!-- #5: Se o usuário estiver autenticado, vai aparecer este menu. -->
<!-- #6: Quando o usuário não estiver logado, vai aparecer na barra a opção de 'Enter Login', ou seja, entrar;-->
<!-- ########################################################### -->
<!-- #3: Verifica se o carrinho (request.session.cart) existe para mostrar o ícone do carrinho e a quantidade de itens. -->
<!-- #4: Exibe o total de itens no carrinho, usando o filtro cart_total para calcular o valor. -->
<!-- ########################################################### -->
<!-- #1: Dentro do template, o link href é gerado dinamicamente usando a tag {% url 'product:list' %} para obter a URL do nome de rota 'product
', que é definida no arquivo de URLs. Essa abordagem evita hardcoding de URLs e facilita a manutenção. -->
<!-- #2: Este é o botão 'E-commerce Project' que ao clicar vai para a página inicial. -->

<!-- # https://linktr.ee/edsoncopque -->