<!-- # FILE: /product/templates/product/cart.html -->

{% extends 'base.html' %} <!-- #1: -->
{% load brfilters %} <!-- ## -->

{% block content %}
    {% comment %} {{request.session.cart}} <!-- #2: --> {% endcomment %}

    {% if cart %} <!-- ## -->
        <div class="row mt-3">
            <div class="col">
                <h3>Shopping Cart</h3>
                <p class="lead">The products, quantities and prices you have chosen.</p>

                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th class="d-none d-lg-block">Image</th>
                            <th>Product</th>
                            <th>V.</th>
                            <th>QTD.</th>
                            <th>Total</th>
                        </tr>
                        
                        <!-- # Line of each product in the cart -->
                        <!-- #IMPORT⬇: /product/views.py -->
                         {% for line in cart.values %} <!-- ## -->
                            <tr>
                                <td class="d-none d-lg-block">
                                    <img class="cart-img" src="{{line.image}}">
                                </td>
                                <td>
                                    {{line.product_name}} <!-- ## -->
                                    <a class="ml-3" href="#">
                                        <i class="fas fa-times-circle text-danger" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td>{{line.variation_name}}</td> <!-- ## -->
                                <td>{{line.quantitative}}x</td> <!-- ## -->
                                
                                {% if line.promotional_quantitative_price %} <!-- ## -->
                                    <td>{{line.promotional_quantitative_price|format_price}}</td> <!-- ##-->
                                {% else %}
                                    <td>{{line.quantitative_price|format_price}}</td> <!-- ## -->
                                {% endif %}
                            </tr>
                        {% endfor %}
                        <!-- # End -->

                    </table>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg">
                <p class='lead'>Total in cart</p>

                <div class='table-responsive'>
                    <table class="table">
                        <tr>
                            <td class="font-weight-bold">Total</td>
                            <td>$100000</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg mt-auto">
                <a class="btn btn-lg btn-block btn-primary" href="#">
                    Complete purchase
                </a>
            </div>
        </div>
    
    {% else %}
        <div class="row mt-3">
            <div class="col">
                <h3>Empty Cart</h3>
                <p class="lead">You have no products in your cart.</p>
            </div>
        </div>
    {% endif %}
{% endblock %}


<!-- ########################################################### -->
<!-- #1: No template cart.html, essa linha estende o layout base definido no arquivo base.html, permitindo reutilizar a estrutura padrão do site. -->
 <!-- #2: Exibe o conteúdo do carrinho armazenado na sessão, mostrando ao usuário os produtos adicionados. -->

<!-- # https://linktr.ee/edsoncopque -->