<!-- # FILE: /product/templates/product/cart.html -->

{% extends 'base.html' %} <!-- #1: -->

{% block content %}
    {% comment %} {{request.session.cart}} <!-- #2: --> {% endcomment %}
    <div class="row mt-3">
        <div class="col">
            <h3>Shopping Cart</h3>
            <p class="lead">The products, quantities and prices you have chosen.</p>

            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th class="d-none d-lg-block">Image</th>
                        <th>Product</th>
                        <th>V.</th>
                        <th>QTD.</th>
                        <th>Total</th>
                    </tr>


                    <tr>
                        <td class="d-none d-lg-block">
                            <img class="cart-img" src="imgs/7eb9d706-b8e3-48d0-957e-25f4a722f944.jpg">
                        </td>
                        <td>
                            Name of the product the customer is purchasing
                            <a class="ml-3" href="#">
                                <i class="fas fa-times-circle text-danger" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td>Variation</td>
                        <td>2x</td>
                        <td>$ 10500,59</td>
                    </tr>


                </table>
            </div>
        </div>
    </div>



    <div class="row mt-3">
        <div class="col-lg">
            <p class='lead'>Total in cart</p>

            <div class='table-responsive'>
                <table class="table">
                    <tr>
                        <td class="font-weight-bold">Total</td>
                        <td>$100000</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg mt-auto">
            <a class="btn btn-lg btn-block btn-primary" href="#">
                Complete purchase
            </a>
        </div>
    </div>
{% endblock %}


<!-- ########################################################### -->
<!-- #1: No template cart.html, essa linha estende o layout base definido no arquivo base.html, permitindo reutilizar a estrutura padrão do site. -->
 <!-- #2: Exibe o conteúdo do carrinho armazenado na sessão, mostrando ao usuário os produtos adicionados. -->

<!-- # https://linktr.ee/edsoncopque -->