<!-- # FILE: /product/templates/product/cart.html -->

{% extends 'base.html' %} <!-- #1: -->

{% block content %}
    {{request.session.cart}} <!-- #2: -->
{% endblock %}


<!-- ########################################################### -->
<!-- #1: No template cart.html, essa linha estende o layout base definido no arquivo base.html, permitindo reutilizar a estrutura padrão do site. -->
 <!-- #2: Exibe o conteúdo do carrinho armazenado na sessão, mostrando ao usuário os produtos adicionados. -->

<!-- # https://linktr.ee/edsoncopque -->