<!-- # FILE: /client_profile/templates/client_profile/create.html -->

{% extends 'base.html' %}
{% load crispy_forms_tags %} <!-- #1: -->

<!-- # IMPORT⬇: /client_profile/views.py -->
{% block content %} <!-- #2: -->
    <div class="row">

        {% if not request.user.is_authenticated %} <!-- #5: -->
            <div class="col-lg mt-3"> <!-- #9: -->
                <h4>Login</h4> <!-- #7: -->
                <p>If you already have an account, enter your username and password below.</p> <!-- #8: -->

                <!-- # Boootstrap Forms -->
                <form>
                    <div class="form-group">
                      <label for="InputUser1">Username</label> <!-- ## -->
                      <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="userHelp" placeholder="Enter your username"> <!-- ## -->
                      <small id="emailHelp" class="form-text text-muted">Do not share your username with strangers.</small>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> <!-- ## -->
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Save</label>
                    </div>
                    <button type="submit" class="btn btn-primary bin-block btn-lg">Submit</button>
                </form>
                <!-- # end Boootstrap Forms -->

            </div>
        {% endif %}

        <div class="col-lg mt-3"> <!-- #9: -->
            {% block titleregistration %} <!-- #6: -->
                <h4>Register</h4> <!-- #7: -->
                <p>If you are not registered, fill out the form below.</p> <!-- #8: -->
            {% endblock %}

            <form method="POST" action="">
                {% csrf_token %} <!-- #3: -->
                {{userform|crispy}} <!-- #4: -->
                {{perfilform|crispy}} <!-- # -->
                <div class="row">
                    <div class="col">
                        <button type="submit" class='btn btn-primary btn-block btn-lg'>
                            Submit
                        </button>
                    </div>
                </div>
            </form>
    </div>
{% endblock %}


<!-- #7: Coloquei 'H4' para reduzir o tamanho da fonte 'login'; -->
<!-- #8: Mensagens/texto acima dos formulários; -->
<!-- #9: Margem adicionada para ficar mais organizado quando acessado por mobile (mt-3)-->
<!-- ########################################################### -->
<!-- #5: Esta linha, no template, verifica se o usuário não está autenticado. Se o usuário não estiver logado, o conteúdo dentro deste bloco será renderizado, exibindo elementos como a seção de login. -->
<!-- #6: Define um bloco chamado titleregistration, que será utilizado para renderizar o título "Register". Esse bloco pode ser sobrescrito em templates que herdam deste. -->
<!-- ########################################################### -->
<!-- #1: Carrega as tags do crispy_forms, uma biblioteca do Django usada para melhorar o estilo dos formulários. -->
<!-- #2: Inicia um bloco de conteúdo que será renderizado dentro do template base. -->
<!-- #3: Gera um token CSRF para proteger o formulário contra ataques de falsificação de solicitação entre sites. -->
<!-- #4: Renderiza o formulário userform utilizando o estilo do crispy_forms. -->

<!-- # https://linktr.ee/edsoncopque -->