<!-- # FILE: /client_profile/templates/client_profile/update.html -->

{% extends 'client_profile/create.html' %} <!-- #1: -->

{% block title %}Update user profile {{user}}{% endblock %}

{% block titleregistration %} <!-- #2: -->
    {% comment %} <h1>Update Data</h1> {% endcomment %}
    <h4>Update Registration</h4> <!-- #: -->
        <p>Use the form below to update your details.</p> <!-- #: -->
{% endblock %}


<!-- ########################################################### -->
<!-- #1: Este template herda de 'client_profile/create.html'. Isso significa que o conteúdo de update.html será renderizado com base na estrutura definida no template create.html, permitindo sobrescrever partes específicas, como o bloco titleregistration. -->
 <!-- #2: Sobrescreve o bloco 'titleregistration' definido no template create.html, substituindo o título "Register" por "Update Data" no contexto de atualização de perfil. -->

<!-- # https://linktr.ee/edsoncopque -->