<!-- # FILE: /order/templates/order/list.html -->

{% extends 'base.html' %}
{% load brfilters %}

{% block title %}User requests {{user}}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h3 class="mb-4">Orders from '{{user}}'</h3> <!-- # -->
            <p>Below are all your orders placed in the store.</p>

            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th scope="col">Order</th>
                        <th scope="col">Total</th>
                        <th scope="col">Quantity Items</th>
                        <th scope="col">Status</th>
                        <th scope="col">More details</th>
                    </tr>
                    
                    <!-- # IMPORT: /order/models.py -->
                    {% for order in orders %} <!-- # -->
                    <tr>
                        <th scope="row">{{order}}</td> <!-- # -->
                        <td>{{order.total|format_price}}</td> <!-- # -->
                        <td>{{order.total_qtd}}</td> <!-- # -->
                        <td>{{order.get_status_display}}</td> <!-- #1: -->
                        <td>
                            <!-- #IMPORT⬇: /order/urls.py -->
                            <a href="{% url 'order:details' order.pk %}"> <!-- #2: -->
                                See <i class="fas fa-search-plus ml-2"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>

{% include 'partials/_pagination.html' %}

{% endblock %}


<!-- ########################################################### -->
<!-- #1: get_status_display é uma função do Django que exibe a escolha textual correspondente ao valor do campo status do modelo Order. Assim, o status exibido no template será a versão legível do valor armazenado (ex.: “Concluído” em vez de “C”). -->
 <!-- #2: Este link direciona para a Details view de um pedido específico, passando order.pk como parâmetro da URL. Isso permite que o usuário visualize detalhes de um pedido específico, levando-o para order/detail.html. -->

<!-- # https://linktr.ee/edsoncopque -->